@import './styles/colors.css';


body{ 
    background-color: #7D0505;
}
    




h1 {
    color: #FFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 55px #fff, 0 0 75px #fff;
    text-transform: uppercase;
    text-transform: initial;
    text-align: center;
    margin-left: 30%;
    transform: scale(2.0); 
    padding-top: 200px;
    
   
}

p{

    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-shadow: 0 0 5px #82fafa, 0 0 10px #82fafa, 0 0 15px #82fafa, 0 0 20px #82fafa, 0 0 30px #82fafa, 0 0 40px #82fafa, 0 0 55px #82fafa, 0 0 75px #82fafa;
    transform: scale(3.0);
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 120px;
    padding-left: 130px;
    text-align: center;

}